*
{
    font-family: arial, sans-serif;
}

.container
{
    display: flex;
    justify-content: center;
}

.aligncenter 
{
    text-align: center;
}

.mailContainer
{
    align-items: center;
}

.text_message
{
    width: 15em;
    height: 15em;
}

h1, h2, h3, h4, h5, h6
{
    text-align: center;
}

table.table_deco
{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

td, th 
{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
.table_deco tr:nth-child(even) 
{
    background-color: #dddddd;
}

textarea
{
    margin: 0px 10px 0px 5px;
}

button
{
    width: 6em;
    height: 2em;
    border-radius: 5px;
}

.email_form td, th 
{
    border: 0px;
}

.grad
{
    background-image: linear-gradient(123deg, rgba(255,0,0,0), rgb(35, 0, 117));
}

img
{
    border: 1px solid black;
}