*
{
    font-family: arial, sans-serif;
}

.container
{
    display: flex;
    justify-content: center;
}

.text_message
{
    width: 15em;
    height: 15em;
}

table
{
    border-collapse: collapse;
    width: 100%;
}

td, th 
{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) 
{
    background-color: #dddddd;
}